/* Main container */
.Content {
    flex: 1; 
    width: 100%; 
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

/* House Content Layout */
.HouseContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center;
    height: 100%;
}

/* House Cards */
.HouseContent > .home-card {
    flex: 1 1 calc(20% - 20px); 
    max-width: calc(20% - 20px); 
    box-sizing: border-box;
}
