.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #e9ebea;
    padding: 20px;
}

.content .favorites {
    flex: 1;
}

.content .favorites-text {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content .house-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 6px;
    width: 100%;
    max-width: 100%;
}

@media (max-width: 1400px) {
    .content .house-cards {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .content .house-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 992px) {
    .content .house-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .content .house-cards {
        grid-template-columns: 1fr;
    }
}