.home-card {
    border: 1px solid #ccc;
    border-radius: 20px;
    min-width: 300px; /* Adjust width as needed */
    min-height: 350px;
    max-width: 300px;
    max-height: 350px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s; /* For hover effect */
    background-color: #fff; /* White background for contrast */
    position: relative; /* Ensure proper stacking context */
    z-index: 1; /* Ensure this is above other elements */
    cursor: pointer;
    flex-direction: column;
}

.home-card:hover {
    transform: scale(1.02); /* Slightly enlarge on hover */
}

.home-card img {
    display: block; /* Make the image a block element */
    margin: 6px; /* Add uniform margin */
    width: calc(100% - 12px); /* Subtract left and right margins from total width */
    height: 100%; /* Allow the image to take full height of the container */
    max-height: 150px; /* Maximum height of 150px */
    object-fit: cover; /* Ensure the image maintains its aspect ratio without stretching */
    border-radius: 14px;
    box-sizing: border-box; /* Make sure padding and border are included in the element's width and height */
}


.home-details {
    padding: 15px; /* Padding for text container */
    position: relative; /* Ensure this is above background */
    z-index: 2; /* Ensure text is above any background layers */
    height: 100%; /* Allow the image to take full height of the container */
    max-height: 200px; /* Maximum height of 150px */
    object-fit: cover; /* Ensure the image maintains its aspect ratio without stretching */
    box-sizing: border-box; /* Make sure padding and border are included in the element's width and height */
}

.home-details h3 {
    margin: 0; /* Remove default margin */
    font-size: 18px;
    color: #333; /* Darker color for better visibility */
}

.home-details h5 {
    margin: 5px 0; /* Add some space between h5 and surrounding elements */
    font-size: 16px; /* Optional: Adjust font size if needed */
    color: #777; /* Lighter color for price to differentiate */
}

.home-details p {
    margin: 0;
    font-size: 14px;
    color: #555; /* Dark gray color for address */
}

/* Additional styles for contrast */
.home-details h3,
.home-details p {
    text-align: left; /* Align text to the left for better readability */
}

.home-details p {
    line-height: 1.5; /* Increase line height for readability */
}

.adminButton{
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 20px;
    margin-top: 50px;
    align-self: center; /* Align the button to the center */
}

.home-type-label {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.typeStatusButton{
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
}

.home-status-label {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
