.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #e9ebea;
    padding: 20px;
}
.content .last-houses {
    flex: 1;
}

.content .search-area {
    display: flex;
    flex:1;
    position: relative;
}

.content .search-area .background {
    width: 100%;
    height: 40vh;
    min-height: 300px;
    object-fit: cover;
    border-radius: 20px;
    filter: brightness(70%);
}

.content .search-area .search-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    left: 50%;
    top: 10%;
    margin: 0 auto;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.content .search-area .search-box .search-bar {
    width: 100%;
}

.content .search-area .search-box .search-bar .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.content .search-area .search-box .search-bar .search-inputs{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}


.content .search-area .search-box .search-bar .search-inputs .search-select {
    flex: 1;
    min-width: 0;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.content .search-area .search-box .search-button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #B7C094;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.content .search-area .search-box .search-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: max-content;
    gap: 10px;
}

.content .search-area .search-box .search-bar .display-sale-rent-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.content .search-area .search-box .welcome{
    display: flex;
    text-align: center;
    flex-direction: column;
}

.content .search-area .search-box .welcome .welcome-text {
    font-size: 24px;
    font-weight: bold;
    height: fit-content;
    margin: 2px;
}

.content .search-area .search-box .welcome .welcome-slogan {
    font-size: 16px;
    height: fit-content;
    margin: 2px; 
}

.content .house-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start; 
    gap: 20px;
    padding: 6px;
    overflow-x: auto;
    width: 100%; 
    max-width: 100%;
}

.content .last-houses-text{
    font-size: 24px;
    font-weight: bold;
}