/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */
.container {
    display: flex;
    flex: 1;
    width: 100%;
}

/* Full-height left column */
.left {
    align-content: center;
    justify-items: center;
    width: 30%; /* Adjust as needed */
    padding: 30px;
}

.form-section {
    width: 100%;
    display: flex; /* Make this a flex container */
    justify-content: space-between;
}

/* Middle section */
.middle {
    align-content: center;
    justify-items: center;
    padding: 20px;
    width: 50%;
}

/* Right section */
.right {
    align-content: center;
    justify-items: center;
    width: 50%;
    padding: 20px;
}

.input-rows {
    display: flex;
    padding: 10px;
    flex-direction: row;
}

.input{
    padding: 10px;
}

p{
    margin: 0;
    font-size: 14px;
}

.createListing {
    width: 215px;
    height: 55px;
    border-radius: 20px;
    background-color: #B7C094;
    border: #B7C094;
    color: #000000;
    margin-left: 80px;
    margin-top: 30px;
}


.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns, equally spaced */
    gap: 5px;
}
