.MainContainer {
    display: flex;
    max-width: 1400px; /* Increase the max-width to allow more space for the sidebar */
    margin: 0 auto;
    padding: 20px;
}

.Sidebar {
    width: 300px; /* Increase the width of the sidebar */
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-shrink: 0; /* Prevent the sidebar from shrinking */
}


.Sidebar h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.Sidebar label {
    font-weight: bold;
    color: #333333;
}

.Sidebar select,
.Sidebar button[type="submit"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    transition: border-color 0.3s;
    margin-bottom: 10px;
}

.Sidebar select:focus {
    border-color: #007bff;
    outline: none;
}

.Sidebar button[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Sidebar button[type="submit"]:hover {
    background-color: #0056b3;
}

.Amenities {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}

.Content {
    flex-grow: 1; /* Allow the content to take up remaining space */
    display: flex;
    flex-direction: column;
}

.SearchContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    overflow-y: auto;
    justify-content: center;
}
