.MainContainer { 
    display: flex;
    width: 100%; /* Fill full width */
    height: 100%; /* Fill full height */
    padding: 20px;
    justify-content: center;
    overflow: hidden; /* Disable any scrolling */
}


.Sidebar {
    position: fixed;
    left: 10px; /* Fixed to the left side */
    top: 100px; /* Adjust based on header height */
    width: 300px; /* Reduced width */
    height: 550px; /* Adjust height to fit within viewport */
    padding: 15px; /* Reduced padding */
    margin-top: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Add vertical scrolling */
}

.Sidebar h2 {
    font-size: 16px; /* Smaller heading */
    margin-bottom: 8px;
}

.Sidebar label {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.Sidebar select,
.Sidebar button[type="submit"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}

.Sidebar select:focus {
    border-color: #007bff;
    outline: none;
}

.Sidebar button[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.Sidebar button[type="submit"]{
    margin-top: 8px;
    background-color: #0056b3;
}

.Amenities {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin-top: 8px;
}

.Content {
    margin-left: 270px; /* Sidebar width + padding */
    flex: 1;
    width: calc(100% - 270px); /* Remaining width */
    padding-left: 20px;
    flex-grow: 1; /* Allow the content to take up remaining space */
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Disable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 100%; /* Ensure it applies to the full viewport */
}


.SearchContent {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.Content h1 {
    text-align: center;}